<h1>Username's Cart</h1>

<div>
    <table class="center" >  
        <tr>
            <th>Product Details:</th>
            <th>Product Name</th>
            <th>Product Description</th>
            <th>Product Price</th>
        </tr>
        <tr *ngFor = "let cart of cartItems" #cart >
            <td>
                <img src="../../../assets/cellphone.jpg" alt="Photo of TV Category">
            </td>
            <td >{{cart.product.productName}}</td>
            <td>{{cart.product.description}}</td>
            <td>${{cart.finalPrice}}</td>
            <td>
                <button type="button" style="background-color:burlywood;" (click)="removeItem(cart)">Remove Item</button>
            </td>
        </tr> 

    </table>
</div>
<p>({{cartItems}})</p>
