#header{
    background-color: lightblue;
    height: 40px;
    padding: 5px 600px;
}

#search{
    background-color:white;
}


mat-grid-tile {
    background: #b1a9be;
  
  }
  
  mat-card {
    background: white;
    width: 400px;
  }
  
  mat-card-title{
    justify-content: flex-start;
  }
  
  button{
    background-color: burlywood;
  }