<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/">
      <img src="../../../assets/eshop.png" alt="logo" id="logo">
    </a>
  </div>

  <div>
    <button mat-button [matMenuTriggerFor]="menu">EasyShop</button>
    <button mat-button [matMenuTriggerFor]="menu">Categories</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="cellphone">Cellphone </button>
        <button mat-menu-item routerLink="tv">TV</button>
        <button mat-menu-item routerLink="computer">Computer</button>
    </mat-menu>
  </div>

  
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <div fxLayout fxLayoutGap="10px" class="navigation-items">
      <mat-icon *ngIf="isAuth" style="cursor: pointer" routerLink="/cart" class="material-icons-outlined">shopping_cart</mat-icon>
      <mat-label >
        <mat-icon class="material-icons-outlined">account_circle</mat-icon>
        <span>Account</span>
      </mat-label>
      <mat-select>
        <mat-option *ngIf="!isAuth" routerLink="/signup">
          Signup
        </mat-option>
        <mat-option *ngIf="!isAuth" routerLink="/login">
          Login
        </mat-option>
        <mat-option *ngIf="isAuth" routerLink="/account">
          Account
        </mat-option>
        <mat-option *ngIf="isAuth">
          <a style="cursor: pointer" (click)="onLogout()">Logout</a>
      </mat-option>
      </mat-select>
    </div>
    
  </div>
</mat-toolbar>
