<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/">
      <img src="../../../assets/eshop.png" alt="logo" class="logo">
    </a>
  </div>

  <div>
    <button mat-button [matMenuTriggerFor]="menu">Categories</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="cellphone">Cellphone </button>
        <button mat-menu-item routerLink="tv">TV</button>
        <button mat-menu-item routerLink="computer">Computer</button>
    </mat-menu>
    <button mat-button routerLink="cart">View Cart</button>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li *ngIf="!isAuth"><a routerLink="/signup">Signup</a></li>
      <li *ngIf="!isAuth"><a routerLink="/login">Login</a></li>
      <li *ngIf="isAuth"><a routerLink="/training">Training</a></li>
      <li *ngIf="isAuth">
        <a style="cursor: pointer" (click)="onLogout()">Logout</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
