<section class="signup-form">
    <form fxLayout="column" fxLayoutAlign="center center" #f="ngForm" fxLayoutGap="5px"(ngSubmit)="onSubmit(f)" >
        <h1 id="register-header">Update your account</h1>
        <mat-form-field hintLabel="Password must at least 6 characters long">
            <input type="password" matInput placeholder="Enter new Password" ngModel name="password1" minlength="6" #pwInput="ngModel">
            <mat-hint align="end"> {{ pwInput.value?.length }} / 6</mat-hint>
            <mat-error>Password is invalid</mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="Password must at least 6 characters long">
            <input type="password" matInput placeholder="Confirm new Password" ngModel name="password2" minlength="6" #pwInput="ngModel">
            <mat-hint align="end"> {{ pwInput.value?.length }} / 6</mat-hint>
            <mat-error>Password is invalid</mat-error>
        </mat-form-field>   
        <mat-form-field>
            <input type="text" matInput placeholder="Firstname" ngModel name="firstname"  #firstnameInput="ngModel">
        </mat-form-field>
        <mat-form-field>
            <input type="text" matInput placeholder="Lastname" ngModel name="lastname"  #lastnameInput="ngModel">
        </mat-form-field>

        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="40px" class="row_container">
            <mat-form-field>
                <input type="email" matInput placeholder="Email" ngModel name="email" email  #emailInput="ngModel">
                <mat-error *ngIf="!emailInput.hasError('')">E-Mail is invalid.</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input type="tel" matInput placeholder="Phone" ngModel name="phone"  #telInput="ngModel">     
            </mat-form-field>
        </div>
         
        <mat-form-field>
            <input type="text" matInput placeholder="Address1" ngModel name="address1"  #address1Input="ngModel">     
        </mat-form-field >
        <mat-form-field>
            <input type="text" matInput placeholder="Address2" ngModel name="address2"  #address2Input="ngModel">     
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="40px" class="row_container">
            <mat-form-field >
                <input type="text" matInput placeholder="City" ngModel name="city"  #cityInput="ngModel">     
            </mat-form-field>
            <mat-form-field>
                <input type="text" matInput placeholder="State" ngModel name="state"  #stateInput="ngModel">     
            </mat-form-field>
        </div>
        
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="40px" class="row_container">
            <mat-form-field>
                <input type="number" matInput placeholder="Zipcode" ngModel name="zipcode" minlength="5" #zipcodeInput="ngModel">     
            </mat-form-field>
            <mat-form-field>
                <input type="text" matInput placeholder="Country" ngModel name="country"  #countryInput="ngModel">     
            </mat-form-field>
        </div>
        <mat-error [style.color]="color" *ngIf="msg"> {{ msg }} </mat-error>     
        <button mat-raised-button color="primary" type="submit" [disabled]="f.invalid">Submit</button>
    </form>
</section>

