<div class="welcome"  fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px" fxLayoutAlign="center center"> 
     

    <h2>Product Details</h2>
    <br><br>
    <table class="productable">
        <thead>
            <tr>
                <th scope = "col">Product Id</th>
                <th scope = "col">Product Name</th>
                <th scope = "col">Product Details</th>
                <th scope = "col">Product Price</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor = "let product of products">
                <td>{{product.productId}}</td>
                <td>{{product.productName}}</td>
                <td>{{product.metaTitle}}</td>
                <td>{{product.unitPrice}}</td>


            </tr>


        </tbody>


    </table>

    <br><br>
    <table class="categorytable">
        <thead>
            <tr>
                <th scope = "col">Category Id</th>
                <th scope = "col">Category Name</th>
               
            </tr>
        </thead>
        <tbody>

            <tr *ngFor = "let product of products">
                <td>{{product.categoryId.categoryId}}</td>
                <td>{{product.categoryId.categoryName}}</td>
            </tr>


        </tbody>


    </table>
    

</div>

<!--WE NEED AN *ngFor here!! (once product stuff is ready) and each grid tile will be populated with a product-->
<!--Images will come from the external API-->

<div class="products" fxLayoutGap.gt-md="20px">
    <mat-grid-list cols="4" rowHeight="1:2">

        <mat-grid-tile>
            <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Product Name</mat-card-title>
            <mat-card-subtitle>Short Description</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p class="price">
              $Placeholder
            </p>
          </mat-card-content>
          <mat-card-actions fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px" fxLayoutAlign="center center">
            <button mat-button>View</button>
            <button mat-button>Add to Cart</button>
          </mat-card-actions>
        </mat-card>
        </mat-grid-tile>
      
        <mat-grid-tile>
            <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Product Name</mat-card-title>
            <mat-card-subtitle>Short Description</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p class="price">
              $Placeholder
            </p>
          </mat-card-content>
          <mat-card-actions fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px" fxLayoutAlign="center center">
            <button mat-button>View</button>
            <button mat-button>Add to Cart</button>
          </mat-card-actions>
        </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Product Name</mat-card-title>
            <mat-card-subtitle>Short Description</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p class="price">
              $Placeholder
            </p>
          </mat-card-content>
          <mat-card-actions fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px" fxLayoutAlign="center center">
            <button mat-button>View</button>
            <button mat-button>Add to Cart</button>
          </mat-card-actions>
        </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title fxLayout="row" fxLayoutAlign="start">Product Name</mat-card-title>
            <mat-card-subtitle>Short Description</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p class="price">
              $Placeholder
            </p>
          </mat-card-content>
          <mat-card-actions fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px" fxLayoutAlign="center center">
            <button mat-button>View</button>
            <button mat-button>Add to Cart</button>
          </mat-card-actions>
        </mat-card>
        </mat-grid-tile>

    </mat-grid-list>

</div>
