.welcome {
  text-align: center;
}

mat-grid-tile {
  background: #620fe7;

}

mat-card {
  background: white;
  width: 400px;
}

mat-card-title{
  justify-content: flex-start;
}

button{
  background-color: burlywood;
}
