
<div id = "header">
    <h2>TV Category</h2>
</div>


<div id="search">

<section class="new-training" fxLayout fxLayoutAlign="left" style ="float:left; ">
  <mat-card fxFlex="400px" fxFlex.xs="100%">
    <mat-card-title fxLayoutAlign="center">Search Items By Size</mat-card-title >
    <mat-card-content fxLayoutAlign="center">
      <mat-form-field>
        <mat-select placeholder="Pick a size">
          <mat-option *ngFor="let product of products" #product  [value] ="product.sizeId.id">
            {{ product.sizeId.sizename }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center">
      <button type="submit" mat-button (click)="searchBySize(product)">Click For Search</button>
    </mat-card-actions>
  </mat-card>
</section>



<section class="new-training" fxLayout fxLayoutAlign="center"  style ="display:inline-block; margin-right:10px;"  >
  <mat-card fxFlex="400px" fxFlex.xs="100%">
    <mat-card-title fxLayoutAlign="center">Search Items By Color</mat-card-title >
    <mat-card-content fxLayoutAlign="center">
      <mat-form-field>
        <mat-select placeholder="Pick a Color">
          <mat-option *ngFor="let product of products" #product [value] = "product.colorId.id">
            {{ product.colorId.colorName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center">
      <button type="submit" mat-button (click)="searchByColor(product)">Click For Search</button>
    </mat-card-actions>
  </mat-card>

</section>

</div>

<div class="products" fxLayoutGap.gt-md="20px" >

    <mat-grid-list cols="4" rowHeight="1:1.5" >

        <div *ngFor = "let product of products" >

             <mat-grid-tile  *ngIf = "product.categoryId.categoryId == 2" >
           
                            <mat-card class="example-card" >
                                <mat-card-header>
                                    <div mat-card-avatar class="example-header-image"></div>
                                    <mat-card-title>{{product.productName}}</mat-card-title>
                                    <mat-card-subtitle>{{product.description}}</mat-card-subtitle>
                                </mat-card-header>
                                <img mat-card-image src="../../../assets/TVCategory.jpg" alt="Photo of TV Category">
                                <mat-card-content>
                                    <p class="price">
                                        ${{product.unitPrice}}
                                    </p>
                                </mat-card-content>
                                <mat-card-actions fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px" fxLayoutAlign="center center">
                                    <button mat-button>View</button>
                                    <button mat-button>Add to Cart</button>
                                </mat-card-actions>
                        
                            </mat-card>
                   
           
             </mat-grid-tile>

        </div>
    </mat-grid-list>

</div>

